img {
    height: 100px;
    width: 100px;
}

.top {
    background-color: yellow;
    width: 300px;
    overflow: scroll;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
}

#name {
    background-color: lightblue;
    font-size: 200%;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
}

#row {
    position: relative;
}

#comp {
    position: absolute;
    background-color: lightseagreen;
    width: 300px;
    padding: 10px;
    height: 60px;
    text-align: center;
}

#winBox {
    position: absolute;
    left: 320px;
    background-color: lightcoral;
    width: 100px;
    padding: 10px;
    height: 60px;
}

.buttonsArea {

    margin-top: 120px;
    margin-bottom: 20px;
}

#compNumber {
    font-size: 300%;
}

#scoreBox{
    width: 130px;
    padding: 10px;
    height: 60px;
    background-color: lightcoral;
    line-height: 60px;
    vertical-align: middle;
}